.container{
    max-width: 6000px;
}

.btn{
    background: #116152;
    color: aliceblue;
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus{
    outline: none !important;
    background-color: aliceblue;
    color: #116152;
}

.username{
    font-weight: bold;

}

.time{
    font-size: 0.7em;
    color: #999;
}

.update-mssg{
    text-align: center;
    margin: 20px auto;
}